## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Hermanus,ZA,-34.4187,19.2345,65.80,75,2,14.29,clear sky
1,1,Dunedin,NZ,-45.8742,170.5036,61.81,89,100,1.99,overcast clouds
2,2,Jamestown,US,42.0970,-79.2353,17.10,49,0,5.99,clear sky
3,3,Ust-Tsilma,RU,65.4410,52.1498,17.02,92,100,9.57,light snow
4,4,Nanortalik,GL,60.1432,-45.2371,19.49,68,100,12.15,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"]>= min_temp)]

preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Hermanus,ZA,-34.4187,19.2345,65.80,75,2,14.29,clear sky
1,1,Dunedin,NZ,-45.8742,170.5036,61.81,89,100,1.99,overcast clouds
5,5,Bredasdorp,ZA,-34.5322,20.0403,65.28,71,5,11.68,clear sky
6,6,Ancud,CL,-41.8697,-73.8203,69.33,76,37,12.37,scattered clouds
7,7,Vao,NC,-22.6667,167.4833,78.28,87,99,10.42,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
676,676,Frankfort,ZA,-27.2667,28.4833,58.66,89,43,5.37,scattered clouds
678,678,Merauke,ID,-8.4667,140.3333,80.78,76,100,9.46,light rain
679,679,Kupang,ID,-10.1667,123.5833,79.92,85,100,12.71,overcast clouds
680,680,Basoko,CD,1.2391,23.6160,74.30,40,4,2.62,clear sky
683,683,Biak,ID,-0.9131,122.8766,76.35,79,98,3.31,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID            0
City               0
Country            4
Lat                0
Lng                0
Max Temp           0
Humidity           0
Cloudiness         0
Wind Speed         0
Current Weather    0
dtype: int64

In [6]:
clean_df = preferred_cities_df.dropna()
#clean_df.isnull().sum()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Hermanus,ZA,-34.4187,19.2345,65.80,75,2,14.29,clear sky
1,1,Dunedin,NZ,-45.8742,170.5036,61.81,89,100,1.99,overcast clouds
5,5,Bredasdorp,ZA,-34.5322,20.0403,65.28,71,5,11.68,clear sky
6,6,Ancud,CL,-41.8697,-73.8203,69.33,76,37,12.37,scattered clouds
7,7,Vao,NC,-22.6667,167.4833,78.28,87,99,10.42,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
676,676,Frankfort,ZA,-27.2667,28.4833,58.66,89,43,5.37,scattered clouds
678,678,Merauke,ID,-8.4667,140.3333,80.78,76,100,9.46,light rain
679,679,Kupang,ID,-10.1667,123.5833,79.92,85,100,12.71,overcast clouds
680,680,Basoko,CD,1.2391,23.6160,74.30,40,4,2.62,clear sky
683,683,Biak,ID,-0.9131,122.8766,76.35,79,98,3.31,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Hermanus,ZA,65.80,clear sky,-34.4187,19.2345,
1,Dunedin,NZ,61.81,overcast clouds,-45.8742,170.5036,
5,Bredasdorp,ZA,65.28,clear sky,-34.5322,20.0403,
6,Ancud,CL,69.33,scattered clouds,-41.8697,-73.8203,
7,Vao,NC,78.28,overcast clouds,-22.6667,167.4833,
8,New Norfolk,AU,60.30,few clouds,-42.7826,147.0587,
10,Kapaa,US,78.78,clear sky,22.0752,-159.3190,
12,Mar Del Plata,AR,84.22,clear sky,-38.0023,-57.5575,
13,Kondoa,TZ,63.57,overcast clouds,-4.9000,35.7833,
14,Mahebourg,MU,79.25,overcast clouds,-20.4081,57.7000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "hotel_data.csv"
#clean_hotel_df
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the layer to the map
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))